body {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

h1 {
    color: gold;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22pt;

}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    font-size: 16pt;
}

img {
    max-width: 50%;
}

ul {
    font-size: 16pt;
}